<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service.name":"${SERVICE_NAME:-payment}","deployment.environment":"${ENVIRONMENT:-local}"}</customFields>
            <includeMdcKeyName>correlationId</includeMdcKeyName>
            <includeContext>false</includeContext>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <logger>logger</logger>
                <thread>thread</thread>
                <message>message</message>
                <stackTrace>stack_trace</stackTrace>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_STDOUT"/>
    </root>

    <logger name="co.edu.escuelaing.techcup.payment" level="DEBUG" additivity="false">
        <appender-ref ref="JSON_STDOUT"/>
    </logger>
</configuration>
